set interfaces lo0 unit 0 family inet address {{ lo0v4 }}
set interfaces lo0 unit 0 family inet filter input re-protect
set interfaces lo0 unit 0 family inet6 address {{ lo0v6 }}
{% if mgmt and mgmt.interface and mgmt.address %}
set interfaces {{ mgmt.interface }} unit 0 family inet address {{ mgmt.address }}
{% endif %}
{% for interface in core_interfaces %}
{% if 'ae' in interface.name %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
set interfaces {{ interface.name }} mtu {{ interface.mtu }}
set interfaces {{ interface.name }} esi all-active
set interfaces {{ interface.name }} esi {{ interface.esi_id }}
set interfaces {{ interface.name }} unit 0 family ethernet-switching interface-mode trunk
set interfaces {{ interface.name }} unit 0 description "{{ interface.description }}"
{% elif interface.lag_id is defined %}
set interfaces {{ interface.name }} ether-options 802.3ad ae{{ interface.lag_id }}
{% endif %}
{% endfor %}

