set policy-options prefix-list mgmt-network {{ clab_mgmt_network }}
set policy-options prefix-list mgmt-network {{ lan_mgmt_network }}
set policy-options policy-statement load-balance then load-balance per-flow
