set interfaces lo0 unit 0 family inet address {{ lo0v4 }}
set interfaces lo0 unit 0 family inet filter input re-protect
set interfaces lo0 unit 0 family inet6 address {{ lo0v6 }}
{% for interface in core-interfaces %}
set interfaces {{ interface['name'] }} description "{{ interface['description'] }}"
set interfaces {{ interface['name'] }} mtu {{ interface['mtu'] }}
set interfaces {{ interface['name'] }}.{{ interface['vlan-id'] }} description "{{ interface['description'] }}"
set interfaces {{ interface['name'] }}.{{ interface['vlan-id'] }} vlan-id {{ interface['vlan-id'] }}
set interfaces {{ interface['name'] }}.{{ interface['vlan-id'] }} family inet address {{ interface['ipv4_address'] }}
set interfaces {{ interface['name'] }}.{{ interface['vlan-id'] }} family inet6 address {{ interface['ipv6_address'] }}
{% endfor %}
