{% include '02-vmx-protocols-bgp.j2' -%}
{% include '03-vmx-protocols-isis.j2' -%}
{% include '04-vmx-protocols-ldp.j2' -%}
{% include '05-vmx-protocols-lldp.j2' -%}
{% include '06-vmx-protocols-rsvp.j2' -%}
{% include '07-vmx-protocols-mpls.j2' -%}
