# SYSTEM
{% include 'vmx-system.j2' -%}
# CHASSIS
# SECURITY
# INTERFACES
{% include 'vmx-interfaces.j2' -%}
# SNMP
# FORWARDING-OPTIONS
# POLICY-OPTIONS
{% include 'vmx-policy-options.j2' -%}
# CLASS-OF-SERVICE
# FIREWALL
# ROUTING-OPTIONS
{% include 'vmx-routing-options.j2' -%}
# PROTOCOLS
{% include '01-vmx-protocols.j2' -%}
