set interfaces lo0 unit 0 family inet address {{ lo0v4 }}
set interfaces lo0 unit 0 family inet filter input re-protect
set interfaces lo0 unit 0 family inet6 address {{ lo0v6 }}
set interfaces lo0 unit 0 family iso address {{ iso_addr }}
{% if mgmt and mgmt.interface and mgmt.address %}
set interfaces {{ mgmt.interface }} unit 0 family inet address {{ mgmt.address }}
{% endif %}
{% for interface in core_interfaces %}
{% if 'ae' in interface.name %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
set interfaces {{ interface.name }} mtu {{ interface.mtu }}
set interfaces {{ interface.name }} esi all-active
set interfaces {{ interface.name }} esi {{ interface.esi_id }}
set interfaces {{ interface.name }}.{{ interface.vlan_id }} description "{{ interface.description }}"
{% elif interface.lag_id is defined %}
set interfaces {{ interface.name }} ether-options 802.3ad ae{{ interface.lag_id }}
{% else %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
set interfaces {{ interface.name }} mtu {{ interface.mtu }}
set interfaces {{ interface.name }}.{{ interface.vlan_id }} description "{{ interface.description }}"
set interfaces {{ interface.name }}.{{ interface.vlan_id }} vlan-id {{ interface.vlan_id }}
set interfaces {{ interface.name }}.{{ interface.vlan_id }} family inet address {{ interface.ipv4_address }}
set interfaces {{ interface.name }}.{{ interface.vlan_id }} family inet6 address {{ interface.ipv6_address }}
{% endif %}
{% endfor %}


