{% include '02-ptx-protocols-bgp.j2' -%}
{% include '03-ptx-protocols-isis.j2' -%}
{% include '04-ptx-protocols-ldp.j2' -%}
{% include '05-ptx-protocols-lldp.j2' -%}
{% include '06-ptx-protocols-rsvp.j2' -%}
{% include '07-ptx-protocols-mpls.j2' -%}
