set protocols isis interface lo0.0 passive
set protocols isis level 1 disable
set protocols isis level 2 authentication-key "$9$vM/8NbsYoUDkbs"
set protocols isis level 2 authentication-type simple
set protocols isis level 2 wide-metrics-only
set protocols isis reference-bandwidth 100g
set protocols isis topologies ipv4-multicast
set protocols isis topologies ipv6-unicast
{% for interface in core_interfaces %}
set protocols isis interface {{ interface.name }}.{{ interface.vlan_id }} ldp-synchronization
set protocols isis interface {{ interface.name }}.{{ interface.vlan_id }} node-link-protection
set protocols isis interface {{ interface.name }}.{{ interface.vlan_id }} point-to-point
set protocols isis interface {{ interface.name }}.{{ interface.vlan_id }} level 2 metric {{ interface.igp_metric | default(99999) }}
{% endfor %}
{% if isis_overload %}
set protocols isis overload
{% endif %}
