set protocols ldp track-igp-metric
set protocols ldp deaggregate
set protocols ldp explicit-null
set protocols ldp interface lo0.0
set protocols ldp session-protection
{% for interface in core_interfaces %}
set protocols ldp interface {{ interface.name }}.{{ interface.vlan_id }}
{% endfor %}
